

 <%- include('partials/header.ejs') %>
 <div id="layout">
     <%- include('partials/nav.ejs') %>
 <body>
    <div id="main">
    <h1>Famous Quotes - Admin Section</h1>

    <div id="grid">
      <a class="card" href="/author/new">Add Authors</a>
      <a class="card" href="/quote/new">Add Quotes</a>
      <a class="card" href="/authors">List Authors</a>
      <a class="card" href="/quotes">List Quotes</a>
    </div>
  </main>
</div>
</body>
</div>
<%- include('partials/footer.ejs') %>
</html>